# Project specific files
*.csv
*.log
*.db
*.sqlite
*.sqlite3
reports/
stockfish.exe
stockfish
results.json

# Python specific files
*.py[cod]
__pycache__/
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace